{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'customer/css/customerhome.css' %}">
    </head>
    <body>
      <div class="container-fluid" style="display: flex; flex-direction: column;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Customer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  {% if user.is_active %}
                  <a class="nav-link active" href="{% url 'Customer:logout' %}">logout</a>
          
                  <a class="nav-link active" aria-current="page" href="{% url 'Customer:customer_confirm' %}">요청 확인하기</a>
  
                  {% else %}
                      <a class="nav-link" href="{% url 'Customer:login' %}">login</a>
                      <a class="nav-link" href="{% url 'Customer:signup' %}">sign up</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </nav>
  
        {% if user.is_active %}

        <div class="d-grid gap-2 col-2 mx-auto">
          <button class="btn" type="button" Onclick = "location.href= '{% url 'Customer:customer_confirm' %}'" style="background-color: #62757f; color: #ffffff; ">요청확인</button>
        </div>
          
        {% endif %}
      </div>
       
        
        <script src="" async defer></script>
    </body>
</html>


