{% load bootstrap5 %}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Customer Home</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{%static 'Group 5.svg' %}" alt="" width="30" height="24"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_active %}
                <a class="nav-link active" href="{% url 'Customer:customer_home' %}">Home</a>
        
                <a class="nav-link active" aria-current="page" href="{% url 'Customer:logout' %}">logout</a>
                <a class="nav-link disable">User : {{request_user}}</a>
        
                {% else %}
                    <a class="nav-link active" href="{% url 'Customer:customer_home' %}">Home</a>
                    <a class="nav-link" href="{% url 'Customer:login' %}">login</a>
                    <a class="nav-link" href="{% url 'Customer:signup' %}">sign up</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
        {# Display a form #}
    <div class="container">
        <div class="row align-items-center">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-secondary">Login</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    
    

</body>
</html>
