{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/clerk/style.css"%}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
    <title>Select Document</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/Group 5.svg' %}">

</head>
<body>
    <div>
        <a href="{% url 'home' %}" class='menu'>| Home |</a>
        <a href="{% url 'Clerk:signup' %}" class='menu'>Sign up</a>
        {% if user.is_authenticated %}
        <a href="{% url 'Clerk:logout' %}" class='menu'>Log out</a>
        {% else %}
        <a href="{% url 'Clerk:login' %}" class='menu'>Log in</a>
        {% endif %}
    </div>

    <h1>Request page</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <table class='requestTable'>
                <tr>
                    <td>| Customer |</td>
                    <td>{{customer.username}}</td>
                </tr>
                <tr>
                    <td>| Document |</td>
                    <td>
                            {{form.document}}
                        
                    </td>
                </tr>
                

            </table>
            <input type="hidden" value="{{customer.id}}" name ="customer"/>
            <input type="submit" value="요청" class='submit'>
        </div>
    </form>
    {% if messages %}        
        {% for message in messages %}
            <script>alert("{{ message}}");</script>
        {% endfor %}
    {% endif %}


</body>
</html>